
<div id="content">
	<h1><%= @post.title%></h1>

	<div class="clearfix">
		
		<div class="article">
			<div class="topic-content clearfix">
				<div class="user-face">
					<% if @user.image %>
			        <a href="<%= user_path(@user.id) %>"><%= image_tag url_for_file_column 'user', 'image', 'thumb' %></a>
					<% else %>
					<a href="<%= user_path(@user.id) %>"><%= image_tag 'default_user.png' %></a>
					<% end %>
				</div>
				<div class="topic-doc">
					<h3>
						<span class="color-green"><%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S %p")%></span>
						<span class="pl20">created by <a href="<%= user_path(@user.id) %>"><%=@user.login%></a></span>
					</h3>
					<table class="infobox" width="100%">
						<tbody>
							<tr>
								<td class="tablelt"></td>
								<td class="tablect"></td>
								<td class="tablert"></td>
							</tr>
							<tr>
								<td class="tablelc"></td>
								<td class="tablecc">
									<strong>Title : </strong><%= @post.title%>
								</td>
								<td class="tablerc"></td>
							</tr>
							<tr>
								<td class="tablelb"></td>
								<td class="tablecb"></td>
								<td class="tablerb"></td>
							</tr>
						</tbody>
					</table>
					<p><%= @post.text %></p>
				</div>
			</div>
			<ul class="topic-reply">
				<% for reply in @replies 
					@reply_user = reply.user%>
				<li class="clearfix">
				    <div class="user-face">
						<% if @reply_user.image %>
				        <a href="<%= user_path(@reply_user.id) %>"><%= image_tag url_for_file_column 'reply_user', 'image', 'thumb' %></a>
						<% else %>
						<a href="<%= user_path(@reply_user.id) %>"><%= image_tag 'default_user.png' %></a>
						<% end %>
				    </div>
				    <div class="reply-doc">
				        <div class="bg-img-green">
				            <h4><%= reply.created_at.strftime("%Y-%m-%d %H:%M:%S %p")%>
				                <a href="<%= user_path(@reply_user.id) %>"><%= @reply_user.login%></a> 
				            </h4>
				        </div>
				        <p><%= reply.text %></p>
				    </div>
				</li>
				<% end %>
			</ul>
			<br />
			<%= will_paginate @replies%>
			<br />
			<br />
			<br />
			<div style="clear: both">
				
			</div>
			<h2>New Reply</h2>
			<div class="txd">
				<% form_for :reply, @reply, :url => {:action => "create"} do |f| %>
				  <%= f.text_area :text, :size => '54x8' %>
				  <br/>
				    <%= f.submit "Reply" %>
				<% end %>
			</div>
		</div>

		<div id="aside">
			<p class="pl2">&gt;<%= link_to 'Topic: ' + @topic.title, topic_posts_path(@topic.id) %></p>
			<br />
			<% unless @latest_posts.empty? %>
			<h2 class="usf">Latest posts:</h2>
			<div class="indent">
				<% for post in @latest_posts %>
				<p class="pl ul">
					<%= link_to post.title, topic_post_replies_path(@topic.id, post.id) %>
					<span class="pl"><%= post.user.login %></span>
				</p>
				<% end %>
			</div>
			<% end%>
		</div>
		<div id="extra">
	
		</div>
	</div>
</div>