<% if not logged_in? %>
  <div class="welcome">
    <div class="reg">
      <strong>BuBu</strong>
      <div>
        <b>500 topics</b>
        <b>1000 users</b>
        <br />
      </div>
      <br />
      <a class="link-reg" href="<%= signup_path%>"><strong>Join us</strong>sign up</a>
    </div>
    <div class="login">
      <% form_tag session_path do -%>
      <p><%= label_tag 'login' %><br />
      <%= text_field_tag 'login', @login %></p>

      <p><%= label_tag 'password' %><br/>
      <%= password_field_tag 'password', nil %></p>

      <p><%= label_tag 'remember_me', 'Remember me' %>
      <%= check_box_tag 'remember_me', '1', @remember_me %></p>

      <p><%= submit_tag 'Log in' %></p>
      <% end -%> 
    </div>
  </div>
<% end %>
<div id="content">
	<div class="clearfix">
		<div class="article">
			
			<div class="nav-srh">
				<h2>Search for your interested topics</h2>
				<form id="search" action="/search" method="get">
			        <div class="inp">
			        	<span>
							<input type="text" value="" maxlength="60" size="22" title="" name="search_text" stype="color: rgb(212,212,212);">
							
						</span>
						<span>
							<input class="bn-srh" type="submit" value="search">
						</span>
			        </div>
			     </form>
			</div>
			<br />
			<br />
			<h2 class="usf">Hottest topics:</h2>
			<div class="no-order">
				<% for topic in @hottest_topics %>
					<%= link_to topic.title, topic_posts_path(topic.id) %>
				<% end %>
			</div>
			<br />
		    <h2 class="usf">Being discussed:</h2>

		    <table class="olt">
				<colgroup>
					<col class="title">
					<col class="author">
					<col class="topic">
					<col class="time">
				</colgroup>
				<tbody>
					<tr>
						<td>Title</td>
						<td>Author</td>
						<td nowrap="nowrap">Topic</td>
						<td align="right">Replied at</td>
					</tr>
					<% for post in @active_posts 
							topic = post.topic
							user = post.user%>
				    <tr>
				        <td><%= link_to post.title, topic_post_replies_path(topic.id, post.id) %></td>
						<td nowrap="nowrap"><%= link_to user.login, user_path(user.id) %></td>
						<td ><%= link_to topic.title, topic_posts_path(topic.id) %></td>
				        <td class="time" nowrap="nowrap"><%= post.replied_at.strftime("%m-%d %H:%M")%></td> 
				    </tr>
				    <% end %>
				</tbody>
			</table>

		    <br /> 
			<br />
			<h2 class="usf">Tags:</h2>
			<div class="no-order">
				<p>
				<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
				<%= link_to tag.name, {:action => :tag, :id => tag.name }, :class => css_class %>
				<% end %>
				</p>
			</div>
			
			<br />

		    <%= link_to 'New topic', new_topic_path %>
		</div>
		<div id="aside">
			<br />
			
			<br />
			
			<% unless @new_topics.empty? %>
			<h2 class="usf">New topics:</h2>
			<div class="indent">
				<% for topic in @new_topics %>
				<p class="pl ul">
					<%= link_to topic.title, topic_posts_path(topic.id) %>
				</p>
				<% end %>
			</div>
			<% end%>
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>

