<h1>New topic</h1>
<% form_for(@topic) do |f| %>
	<div id="content">
		<div class="clearfix">
			<div class="article">
				<table cellpadding="5" align="center" style="clear: both;">
					<tbody>
						<tr>
							<td class="pl2" valign="top" align="center">Title:</td>
							<td>
								<%= f.text_field :title %> 
								<br />
								<br />
							</td>
						</tr>
						<tr>
							<td class="pl2" valign="top" align="center">Tags:</td>
							<td>
								<%= f.text_field :tag_list, :size => 50 %>
								<br />
								<br />
							</td>
						</tr>
						<tr>
							<td class="pl2" valign="top" align="center">Captcha:</td>
							<td>
								<%= show_simple_captcha %> 
								<br />
								<br />
							</td>
						</tr>
						<tr>
							<td class="pl2" valign="top" align="center"></td>
							<td>
								<%= f.submit "Create" %>
								<br />
								<br />
							</td>
						</tr>
					</tbody>
				</table>
				<%= link_to 'Back', topics_path %>
			</div>
			<div id="aside">
				<br />
				

			</div>
			<div class="extra">
			
			</div>
		</div>
	</div>
<% end %>



