<h1>My favorite topics:</h1>
<div id="content">
	<div class="clearfix">
		<div class="article">
			<div class="clear"></div>
			<div class="zbar clearfix">
				<div>
					<span class="now">
						<span>Latest updates</span>
					</span>
					<%= link_to 'My posts', my_posts_path %>
					<%= link_to 'My replies', my_replies_path %>
				</div>
			</div>
			<br clear="all" />
			<h2 class="usf">From your favorite peoples</h2>
			<div class="indent">
				<% for activity in @activities %>
				<%     user = activity.user %>
				<p class="pl ul">
				<%	case activity.record_type
					when "Topic"
						topic = Topic.find(activity.record_id) %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> <%= link_to user.name, user_path(user.id) %> created Topic : <%= link_to topic.title, topic_posts_path(topic.id)%> 
					<%
					when "Post"
						post = Post.find(activity.record_id)
						topic = post.topic %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> <%= link_to user.name, user_path(user.id) %> created Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>	
					<%
					when "Reply"
						reply = Reply.find(activity.record_id) 
						post = reply.post
						topic = post.topic %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> <%= link_to user.name, user_path(user.id) %> replied to Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>		
					<%
					end%>
				</p>
				<% end %>
			</div>
			<div class="clear"></div>
			<br clear="all" />
			<br clear="all" />
			<h2 class="usf">From your favorite topics</h2>
			<table class="olt">
				<colgroup>
					<col class="title">
					<col class="author">
					<col class="topic">
					<col class="time">
				</colgroup>
				<tbody>
					<tr>
						<td>Title</td>
						<td>Author</td>
						<td nowrap="nowrap">Topic</td>
						<td align="right">Replied at</td>
					</tr>
					<% for post in @posts 
							topic = post.topic
							user = post.user%>
				    <tr>
				        <td><%= link_to post.title, topic_post_replies_path(topic.id, post.id) %></td>
						<td nowrap="nowrap"><%= link_to user.login, user_path(user.id) %></td>
						<td ><%= link_to topic.title, topic_posts_path(topic.id) %></td>
				        <td class="time" nowrap="nowrap"><%= post.replied_at.strftime("%m-%d %H:%M")%></td> 
				    </tr>
				    <% end %>
				</tbody>
			</table>	
			<div class="paginator">
				
			</div> 
		</div>

		<div id="aside">
			<p class="pl2">&gt;</p>
			
			<br clear="all" />
			<% unless @followees.empty? %>
				<h2>Peoples that you are following:</h2>
				<% for user in @followees %>
					<dl class="obu">
						<dt>
							<a class="nbg" href="<%= user_path(user.id) %>">
								<%= image_tag user_image(user), :class => "m_sub_img" %>
							</a>
						</dt>
						<dd>
							<a href="<%= user_path(user.id) %>"><%= user.name %></a>
							<br />
						</dd>
					</dl>
				<% end %>
			<% end %>
			<br clear="all" />
			<% unless @followers.empty? %>
				<h2>Peoples that are following you:</h2>
				<% for user in @followers %>
					<dl class="obu">
						<dt>
							<a class="nbg" href="<%= user_path(user.id) %>">
								<%= image_tag user_image(user), :class => "m_sub_img" %>
							</a>
						</dt>
						<dd>
							<a href="<%= user_path(user.id) %>"><%= user.name %></a>
							<br />
						</dd>
					</dl>
				<% end %>
			<% end %>
			<br clear="all" />
			<% unless @topics.empty? %>
				<h2>Topics that you are following:</h2>
				<div class="evt_short">
					<ul>
				<% for topic in @topics %>
						<li class="actfromfri">
							<div class="pl">
								<%= link_to topic.title, topic_posts_path(topic.id), :class => 'pl2' %>
								<br />
								<%= h truncate(topic.description, :length => 60) %>
							</div>
						</li>
				<% end %>
					</ul>
				</div>
			<% end %>
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>