<div id="content">
	<div class="clearfix">
		<div class="article">
			<div id="db-usr-profile">
				<div class="pic">
					<% if @user.image %>
			        	<%= image_tag url_for_file_column 'user', 'image', 'thumb' %>
					<% else %>
						<%= image_tag 'default_user.png' %>
					<% end %>
				</div>
				<div class="info">
					<h1><%= @user.name%>
						<span id="display" class="pl"></span>
					</h1>
					<ul>
						<li><%= link_to 'Settings', url_for (:controller => '/settings') %></li>
						<li><%= link_to 'Settings', url_for (:controller => '/settings') %></li>
					</ul>
				</div>
			</div>
			<br />
			<br />
			<h2 class="usf">User activities</h2>
			<div class="indent">
				<% for activity in @activities %>
				<p class="pl ul">
				<%	case activity.record_type
					when "Topic"
						topic = Topic.find(activity.record_id) %>
					<%= activity.created_at.strftime("%Y-%m-%d %H:%M") %> created Topic : <%= link_to topic.title, topic_posts_path(topic.id)%> 
					<%
					when "Post"
						post = Post.find(activity.record_id)
						topic = post.topic %>
					<%= activity.created_at.strftime("%Y-%m-%d %H:%M") %> created Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>	
					<%
					when "Reply"
						reply = Reply.find(activity.record_id) 
						post = reply.post
						topic = post.topic %>
					<%= activity.created_at.strftime("%Y-%m-%d %H:%M") %> replied to Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>		
					<%
					end%>
				</p>
				<% end %>
			</div>
		</div>

		<div id="aside">
			<p class="pl2">&gt;</p>
			<br />
			<h2 class="usf">Latest posts:</h2>
			<div class="indent">
				<p class="pl ul">
					tttttttttttttttttt
				</p>
			</div>
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>
