<div id="content">
	<div class="clearfix">
		<div class="article">
			<div id="db-usr-profile">
				<div class="pic">
					<% if @user.image_id %>
						<% image = Image.find(@user.image_id) %>
						<%= image_tag image.public_filename %>
					<% else %>
						<%= image_tag 'default_user.png' %>
					<% end %>
				</div>
				<div class="info">
					<h1><%= @user.name%>
						<span id="display" class="pl"></span>
					</h1>
					<ul>
						<li><%= link_to 'Topics', url_for (:controller => 'users', :action => 'topics', :id => @user.id) %></li>
						<li><%= link_to 'Posts', url_for (:controller => '/settings') %></li>
						<li><%= link_to 'Replies', url_for (:controller => '/settings') %></li>
					</ul>
				</div>
			</div>
			<br />
			<br />			
			<h2 class="usf">User activities</h2>
			<div class="indent">
				<% for activity in @activities %>
				<p class="pl ul">
				<%	case activity.record_type
					when "Topic"
						topic = Topic.find(activity.record_id) %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> created Topic : <%= link_to topic.title, topic_posts_path(topic.id)%> 
					<%
					when "Post"
						post = Post.find(activity.record_id)
						topic = post.topic %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> created Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>	
					<%
					when "Reply"
						reply = Reply.find(activity.record_id) 
						post = reply.post
						topic = post.topic %>
					<%= activity.created_at.strftime("%m-%d %H:%M") %> replied to Post : <%= link_to post.title, topic_post_replies_path(topic.id, post.id)%> under Topic : <%= link_to topic.title, topic_posts_path(topic.id)%>		
					<%
					end%>
				</p>
				<% end %>
			</div>
		</div>

		<div id="aside">
			<p class="pl2">&gt;</p>
			<br />
			<% if @can_follow == 'Y' %>
				<br />
				<p class="pl2">&gt;<%= link_to "Follow this user", url_for (:controller => 'users', :action => 'follow', :id => @user.id) %></p>
			<% else
				if @can_follow == 'N' %>
				<br />
				<p class="pl2">&gt;<%= link_to "Unfollow this user", url_for (:controller => 'users', :action => 'unfollow', :id => @user.id) %></p>
				<% else %>
				<br />
				<% end %>
			<% end %>
			
			<br clear="all" />
			<% unless @followees.empty? %>
				<h2>Peoples that <%= @user.name %> is following:</h2>
				<% for user in @followees %>
					<dl class="obu">
						<dt>
							<a class="nbg" href="<%= user_path(user.id) %>">
								<%= image_tag user_image(user), :class => "m_sub_img" %>
							</a>
						</dt>
						<dd>
							<a href="<%= user_path(user.id) %>"><%= user.name %></a>
							<br />
						</dd>
					</dl>
				<% end %>
			<% end %>
			<br clear="all" />
			<% unless @followers.empty? %>
				<h2>Peoples that are following <%= @user.name %>:</h2>
				<% for user in @followers %>
					<dl class="obu">
						<dt>
							<a class="nbg" href="<%= user_path(user.id) %>">
								<%= image_tag user_image(user), :class => "m_sub_img" %>
							</a>
						</dt>
						<dd>
							<a href="<%= user_path(user.id) %>"><%= user.name %></a>
							<br />
						</dd>
					</dl>
				<% end %>
			<% end %>
			<br clear="all" />
			<% unless @topics.empty? %>
				<h2>Topics that <%= @user.name %> is following:</h2>
				<div class="evt_short">
					<ul>
				<% for topic in @topics %>
						<li class="actfromfri">
							<div class="pl">
								<%= link_to topic.title, topic_posts_path(topic.id), :class => 'pl2' %>
								<br />
								<%= h truncate(topic.description, :length => 60) %>
							</div>
						</li>
				<% end %>
					</ul>
				</div>
			<% end %>
			
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>
