<h1><%= @topic.title%></h1>
<div id="content">
	<div class="clearfix">
		<div class="article">
			<table class="olt">
				<tbody>
					<tr>
						<td>Title</td>
						<td>Author</td>
						<td nowrap="nowrap">Replies</td>
						<td align="right">Last replied at</td>
					</tr>
					<% for post in @posts %>
				    <tr>
				        <td><%= link_to post.title, topic_post_replies_path(@topic.id, post.id) %></td>
						<td nowrap="nowrap"><%= post.user.login %></td>
						<td nowrap="nowrap"><%= post.replies_count %></td>
				        <td class="time" nowrap="nowrap"><%= post.replied_at.strftime("%m-%d %H:%M")%></td> 
				    </tr>
				    <% end %>
				</tbody>
			</table>
			<div class="paginator">
				<%= will_paginate @posts%>
			</div>
			<%= link_to 'New post', new_topic_post_path(@topic.id) %>
		</div>
		<div id="aside">
			<p class="p12">&gt;<%= link_to @topic.title, topic_posts_path(@topic.id) %></p>
			<br />
			<br />
			<% unless @similiar_topics.empty? %>
			<h2 class="usf">Related topics:</h2>
			<div class="indent">
				<% for topic in @similiar_topics %>
				<p class="pl ul">
					<a href="#"><%= topic.title %></a>
				</p>
				<% end %>
			</div>
			<% end%>
			<br />
			<br />
			<p class="pl">
				Subscribe to topic: <%= @topic.title%>
				<br />
				<span class="feed">
					<a href="#">feed: rss 2.0</a>
				</span>
			</p>
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>





