<h1><%= @topic.title%></h1>
<div id="content">
	<div class="clearfix">
		<div class="article">
			<table class="infobox" width="100%">
				<tbody>
					<tr>
						<td class="tablelt"></td>
						<td class="tablect"></td>
						<td class="tablert"></td>
					</tr>
					<tr>
						<td class="tablelc"></td>
						<td class="tablecc">
							<img class="pil groupicon" align="left" alt="<%= @topic.title%>" src="/images/default_user.png" valgin="top">
							<p>
								Created at <%= @topic.created_at.strftime("%m-%d %H:%M")%> by <%= link_to @user.login, user_path(@user.id) %>
								<br />
							</p>
							<br />
							<%= h(@topic.description).gsub(/\r\n/,"<br/>")%>
							<br />
							<div class="clearfix" style="margin-top: 10px;">
								<span class="plr">
									<span id="G-10064">
										
									</span>
								</span>
								
							</div>
						</td>
						<td class="tablerc"></td>
					</tr>
					<tr>
						<td class="tablelb"></td>
						<td class="tablecb"></td>
						<td class="tablerb"></td>
					</tr>
				</tbody>
			</table>
	<!--		<div style="clear: both; text-align: right; margin-bottom: 10px;"> -->
				<div style="float: right; text-align: right; margin-bottom: 10px;">
				<%= link_to 'New post', new_topic_post_path(@topic.id) %>
			</div>
			<table class="olt">
				<colgroup>
					<col class="title">
					<col class="author">
					<col class="count">
					<col class="time">
				</colgroup>
				<tbody>
					<tr>
						<td>Title</td>
						<td>Author</td>
						<td nowrap="nowrap">Replies</td>
						<td align="right">Replied at</td>
					</tr>
					<% for post in @posts %>
				    <tr>
				        <td><%= link_to post.title, topic_post_replies_path(@topic.id, post.id) %></td>
						<td nowrap="nowrap"><%= post.user.login %></td>
						<td nowrap="nowrap"><%= post.replies_count %></td>
				        <td class="time" nowrap="nowrap"><%= post.replied_at.strftime("%m-%d %H:%M")%></td> 
				    </tr>
				    <% end %>
				</tbody>
			</table>
			<div class="paginator">
				<%= will_paginate @posts%>
			</div>
			
		</div>
		<div id="aside">
			<p class="p12">&gt;<%= link_to @topic.title, topic_posts_path(@topic.id) %></p>
			<br />
			<% if @can_follow == 'Y' %>
				<br />
				<p class="pl2">&gt;<%= link_to "Follow this topic", url_for (:controller => 'topics', :action => 'follow', :id => @topic.id) %></p>
			<% else
				if @can_follow == 'N' %>
				<br />
				<p class="pl2">&gt;<%= link_to "Unfollow this topic", url_for (:controller => 'topics', :action => 'unfollow', :id => @topic.id) %></p>
				<% else %>
				<br />
				<% end %>
			<% end %>
			<br />
			<% unless @sub_users.empty? %>
				<h2>Users following this topic:</h2>
				<% for user in @sub_users %>
					<dl class="obu">
						<dt>
							<a class="nbg" href="<%= user_path(user.id) %>">
								<%= image_tag user_image(user), :class => "m_sub_img" %>
							</a>
						</dt>
						<dd>
							<a href="<%= user_path(user.id) %>"><%= user.name %></a>
							<br />
						</dd>
					</dl>
				<% end %>
			<% end %>
			<br clear="all" />
			<p class="pl2">
				&gt;<a href=""> View all users </a>
			</p>
			<% unless @similiar_topics.empty? %>
			<h2 class="usf">Related topics:</h2>
			<div class="indent">
				<% for topic in @similiar_topics %>
				<p class="pl ul">
					<a href="#"><%= topic.title %></a>
				</p>
				<% end %>
			</div>
			<% end%>
			<br />
			<br />
			<p class="pl">
				Subscribe to topic: <%= @topic.title%>
				<br />
				<span class="feed">
					<a href="#">feed: rss 2.0</a>
				</span>
			</p>
		</div>
		<div class="extra">
			
		</div>
	</div>
</div>





