<h1>Listing activities</h1>

<% for activity in @activities 
	case activity.record_type
	when "Topic"
		title = Topic.find(activity.record_id).title %>
	<%= activity.created_at.strftime("%Y-%m-%d %H:%M:%S %p") %> created Topic : <%=title%> 
	<%
	when "Post"
		post = Post.find(activity.record_id)
		topic = post.topic %>
	<%= activity.created_at.strftime("%Y-%m-%d %H:%M:%S %p") %> created Post : <%=post.title%> under Topic : <%=topic.title%> 	
	<%
	when "Reply"
		reply = Reply.find(activity.record_id) 
		post = reply.post
		topic = post.topic %>
	<%= activity.created_at.strftime("%Y-%m-%d %H:%M:%S %p") %> replied to Post : <%=post.title%> under Topic : <%=topic.title%> 		
	<%
	end%>
	<br />
<% end %>
