<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Topics: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
</head>
<body>
  <div id="wrapper">
    <div id="userBar"></div>
    <div id="header">
      <h1 id="logo"><a href="#"><%= image_tag "logo.png", :alt => "BuBu"%></a></h1>
      <form id="search" action="">
        <fieldset>
          <legend class="hide">search</legend>
          <label fro ="searchKey"> Topic: <input type="text" id="searchKey" name="searchKey"/></label><input type="submit" value="Search"/>
        </fieldset>
      </form>
    </div>
    <div id="main">
      <div id="content"></div>
      <div id="sidebar"></div>
    </div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

    <div id="footer"></div>
  </div>
</body>
</html>
